body.dark-mode {
    background: #121212;
    color: #ffffff;
}

body.dark-mode .dark-mode-toggle {
    color: #ffffff;
}

.dark-mode-toggle:hover {
    transform: scale(1.2);
}

body.dark-mode .chatbox .chat p {
    background: #3a3a3a;
    color: #ffffff;
}

body.dark-mode .chatbox .incoming p {
    background: #3a3a3a;
    color: #ffffff;
}

body.dark-mode .chatbox .incoming.chat:first-child p {
    background: #ccc;
    color: #000000;
    border-radius: 15px 15px 15px 5px;
}

body.dark-mode .chat-input {
    background: #2e2e2e;
    border-top: 1px solid #444;
}

body.dark-mode .chat-input textarea {
    background: #ffffff;
    color: #000000;
}

body.dark-mode .chat-input span {
    color: #ffffff;
    visibility: visible;
    opacity: 1;
    transition: color 0.3s ease-in-out;
}

body.dark-mode .chat-input span:hover {
    color: #fbc02d;
    cursor: pointer;
}

body.dark-mode .chatbot {
    background: #1e1e1e;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.2),
    0 32px 64px -48px rgba(0, 0, 0, 0.8);
}

body.dark-mode .chatbot header {
    background: #333333;
}

body.dark-mode .quick-reply button {
    color: #ffffff;
    background-color: #4CAF50;
}

body.dark-mode .quick-reply button:nth-child(2) {
    background-color: #F44336;
}

body.dark-mode .quick-reply button:hover {
    background-color: #81C784;
}

body.dark-mode .quick-reply button:nth-child(2):hover {
    background-color: #E57373;
}

body.dark-mode .faq-container {
    background-color: #2e2e2e;
    border-radius: 10px;
}

body.dark-mode .faq-item {
    background-color: #3a3a3a;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .faq-item:hover {
    background-color: #4CAF50;
    color: #ffffff;
}

